@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MediatR example project</h1>
    <p>
        This project was only for tutorial and is not connected to Database.
    </p>
    <p>
        It means the main focus was MediatR abilities.
    </p>
    <p>
        Click
        <a asp-action="Details" asp-controller="Post" asp-route-id="7">
            Here
        </a>, to fetch a post and handler it's notification
    </p>
    <p style="font-weight:700">
        Then look at your Console.

    </p>
</div>
